      <section style="text-align:center;width:50%;position:absolute;left:25%;top:35%;">
          <article>
              <h1><img src="app/img/logo.png" class="ico_categorie" style="width:60px;" /><span id="runningtitle">Those who gave me a hand</span></h1>
              <p class="runningtext">I want to thank, in no particulary order :</p>
              <p class="runningtext"><br/></p>
              <p class="runningtext">- Phasedragon, for his amazing work on the achievements icons.</p>
              <p class="runningtext">- Pythadragon, for his help concerning wfds-companion matters.</p>
              <p class="runningtext">- Kontrollo, for the beautiful map pictures he took and shared with me.</p>
              <p class="runningtext"><br/></p>
          </article>
      </section>
	<br><br><br>
