



      <!-- <div id="banniere_image">
          <div id="banniere_description">
              Retour sur mes vacances Ã  Beauclair... -->
              <!--<a href="#" onclick="document.getElementById('licornetitre').innerHTML = 'Mon voyage Ã  Beauclair...';
		document.getElementById('licornetext1').innerHTML = 'Blablabla';
		document.getElementById('licornetext2').innerHTML = 'Blebleble';
		document.getElementById('licornetext3').innerHTML = 'Bliblibli';" -->
		<!-- <a id="btnart" class="btn btn-primary bouton_rouge">Voir l'article <img src="app/img/flecheblanchedroite.png" alt="" /></a>
          </div>
      </div> -->

      <section>
          <article>
              <h1><img src="app/img/logo.png" class="ico_categorie" style="width:60px;" /><span id="runningtitle">It's running !</span></h1>
              <p class="runningtext">Welcome to the home page of your Dedicated Server companion. Here you will be able to find the stats that have been recorded by the companion.</p>
              <p class="runningtext">The Top Player page lists the best of the best, those who possesses the highest kill count on your server.</p>
              <p class="runningtext">The individuals Player pages shows more precise information, on about everything concerning the concerned player.</p>
              <p class="runningtext"></p>
          </article>
          <aside id="mainaside">
              <h1>About the author</h1>
              <p id="photo_zozor"><img src="app/img/avatarL.jpg" alt="LOVELESS-Act.V Avatar" style="height:180px;"/></p>
              <p>Let me introduce myself:</p>
              <p>I'm <a href="https://forums.warframe.com/profile/688319-loveless-actv/">LOVELESS-Act.V</a>, also known as <a href="https://forums.warframe.com/profile/1792585-livjatan/">-Livjatan.</a></p>
              <p>I'm a regular Conclave player, and also a Dedicated Server host.</p>
              <p>Back in Dec 2016, I started making wfdedicatedserver-companion to help servers' hosts gather data.</p>
              <p>You can hit me up anytime on the Conclave discord, just go there : <a href="http://discord.me/conclave">discord.me/conclave</a></p>
              <p></p>
              <!-- <p>
            		<a href="#"><img src="app/img/facebook.png" alt="Facebook" /></a>
            		<a href="#"><img src="app/img/twitter.png" alt="Twitter" /></a>
            		<a href="#"><img src="app/img/vimeo.png" alt="Vimeo" /></a>
            		<a href="#"><img src="app/img/flickr.png" alt="Flickr" /></a>
            		<a href="#"><img src="app/img/rss.png" alt="RSS" /></a>
            	</p> -->
          </aside>
      </section>
	<br><br><br>
