      <audio id="teshin">
        <source src="app/sfx/TeshinIntro1.ogg" type="audio/ogg">
      </audio>
      <section>
          <article>
              <h1><img src="app/img/logo.png" class="ico_categorie" style="width:60px;" /><span id="runningtitle">Oh hey, 'sup ?</span></h1>
              <p class="runningtext">Welcome to the home page of my Dedicated Server companion. Here you will be able to find the stats that have been recorded by my companion.</p>
              <p class="runningtext">The Top Player page lists the best of the best, those who possesses the highest kill counts on my server.</p>
              <p class="runningtext">The individuals player-pages shows more precise information, on about everything concerning a specific player.</p>
              <p class="runningtext">The Full List page lists all the players that ever made a kill or took a death on the server.</p>
              <p class="runningtext">The Search page is an easy way to find a specific player without having to search the full list for it.</p>
              <p class="runningtext"><br/></p>
              <p class="runningtext"><br/></p>
              <p class="runningtext">To Do :</p>
              <p class="runningtext">- Complete the Achievement System</p>
              <p class="runningtext">- Reward System</p>
          </article>
          <aside id="mainaside">
              <h1>About the author</h1>
              <p id="photo_zozor"><img src="app/img/avatarL.jpg" alt="LOVELESS-Act.V Avatar" style="height:180px;"/></p>
              <p>Let me introduce myself:</p>
              <p>I'm <a href="https://forums.warframe.com/profile/688319-loveless-actv/">LOVELESS-Act.V</a>, also known as <a href="https://forums.warframe.com/profile/1792585-livjatan/">-Livjatan.</a></p>
              <p>I'm a regular Conclave player, and also a Dedicated Server host.</p>
              <p>Back in Dec 2016, I started making wfdedicatedserver-companion to help servers' hosts gather data.</p>
              <p>You can hit me up anytime on the Conclave discord, just go there : <a href="http://discord.me/conclave">discord.me/conclave</a></p>
              <p></p>
              <!-- <p>
            		<a href="#"><img src="app/img/facebook.png" alt="Facebook" /></a>
            		<a href="#"><img src="app/img/twitter.png" alt="Twitter" /></a>
            		<a href="#"><img src="app/img/vimeo.png" alt="Vimeo" /></a>
            		<a href="#"><img src="app/img/flickr.png" alt="Flickr" /></a>
            		<a href="#"><img src="app/img/rss.png" alt="RSS" /></a>
            	</p> -->
          </aside>
      </section>
	<br><br><br>
