<div id="container" ng-controller="listController">
<section>
    <article>
      <table id="table">
        <thead>
          <th id="thn" ng-click="(o == 'Name' ? o='-Name' : o='Name')">Name</th>
          <th id="thk" ng-click="(o == 'Kills' ? o='-Kills' : o='Kills')">Kills</th>
          <th id="thd" ng-click="(o == 'Deaths' ? o='-Deaths' : o='Deaths')">Deaths</th>
          <th id="thkdr" ng-click="(o == 'Kills/Deaths' ? o='-(Kills/Deaths)' : o='Kills/Deaths')">KDR</th>
        </thead>
        <tbody>
          <tr ng-repeat="e in players | orderBy:'-Kills' | limitTo:15:0 | orderBy:o ">
            <td><a class="playerlink" path='{{e.Name}}'>{{e["Name"]}}</a></td>
            <td>{{e["Kills"] | number}}</td>
            <td>{{e["Deaths"] | number}}</td>
            <td>{{e["KDR"] | number}}</td>
          </tr>
        </tbody>
      </table>
    </article>
</section>
</div>
<br><br><br>
